html,
body {
    margin: 0;
}

.box {
    border: 1px solid black;
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 1.2em;
}

.box:hover {
    background-color: darkgray;
    color: white;
}

.nav-box {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.nav-box .box {
    padding: 3%;
}

.main-box {
    display: flex;
    height: 50vh;
}

.footer-box {
    display: flex;
    height: 10vh;
    text-align: center;
    border-bottom: 4px dotted red;
}

@media (max-width: 1000px) {
    .nav-box {
        flex-wrap: wrap;
    }
}